@import "./reset/reset";
@import "./colors/colors";


// footer {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
// }


@media (min-width: 320px) {
    body{
        height: 100vh;
    }
    header {
        .navbar{
            background-color: map-get($colors, darkest);
            &-collapse{
                display :flex; 
                justify-content:end;
            }
            &-brand{
                color: map-get($colors, hueso);
                &:hover{
                    color: map-get($colors, hueso);
                }
                &:focus{
                    color: map-get($colors, hueso)
                }
            }
            span{
                color: map-get($colors, azul_clarito);
            }
            &-toggler {
                background-color: map-get($colors, hueso);
            }
            &-nav {
                a {
                    color: map-get($colors, hueso);
                    &:hover{
                        color: map-get($colors, azul_clarito);
                    }
                    &:focus{
                        color: map-get($colors, hueso);
                    }
                }
            }
        }
    }
    main {
        .biggest-box{
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 20px;
            border:1px solid rgba(255, 255, 255, 0.18);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            margin-bottom: 5px;
            .card{
                border: none;
                &-body{
                    background-color: map-get($colors, darkest);
                    width: 100%;
                    p{
                        color: map-get($colors, hueso);
                        text-align: justify;
                    }
                    h6{
                        color: map-get($colors, hueso);
                    }
                }
            }
        }
        .three {
            margin-bottom: 0px;
        }
        background-color: map-get($colors, azul_oscurito);
        background-image: url('/assets/img/ondas.svg');
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        div {
            width: 100%;
            .carousel-container-0{
                padding: 5px;
                width: 100%;
                .card{
                    margin-left: auto;
                    margin-right: auto;
                }              

            }
            div {
                    .big-container{
                        width: 100%;
                        p{
                            color: map-get($colors, hueso);
                            padding: 5px;
                            font-size: 0.7rem;
                            text-align: justify;
                        }
                    }
                    .small-container{
                        width: 100%;
                        padding: 5px;
                        img{
                            border-radius: 20px;
                            height: 50vw;
                            width: 95vw;
                        }
                    }
            }
            
        }
    }
    footer{
        div{
            .navbar-brand{
                color: map-get($colors, hueso);
                &:hover{
                    color: map-get($colors, hueso);
                }
                &:focus{
                    color: map-get($colors, hueso)
                }
            }
            span{
                color:map-get($colors, azul_clarito)
            }
            background-color: map-get($colors, darkest);

            .h5{
                color: map-get($colors, hueso);
            }
        }
    }
    // ------------------------------------------------------------- Nuestros lugares------------------------------------------
    .drop-menu-byme{

        min-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .carousel-container{
            max-height: 300px;
            .carousel-item {
                max-height: 200px;
                img{
                    border-radius: 10px;
                    height: 200px;
                    width: 500px;
                }
            }
        .price-container{
            text-align: center;
            p{
                color: map-get($colors, hueso);
            }
        }
        }
        .place-container{
            margin: 10px 5%;
            display: flex;
            flex-direction: row;
            width: 90%;
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 20px;
            border:1px solid rgba(255, 255, 255, 0.18);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            .place-name{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70%;
                margin-top: 5px;
                h5{
                    color: map-get($colors, hueso);
                }
            }
            .icon-container{
                button{
                    background-color: map-get($colors, hueso);
                    height: 90%;
                    width: 90%;
                    margin-right: 2px;
                    border-radius: 20px;
                }
                width:30%
            }
        }
    }
    //-----------------Contact----------------------
    .contact-container {
        color: map-get($colors, hueso)
    }
}

@media (min-width: 768px) {
    main {
        .two{
            margin-left: 20%;
        }
        .biggest-box {
            width: 80%;

            .bigger-box {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-left: 0;
                    .big-container{
                        width: 60%;
                        p{
                            font-size: 1rem;
                            text-align: justify;
                        }
                    }
                    .small-container{
                        width: 40%;
                        img{
                            height: 400px;
                            width: 100%;
                        }
                    }
                    
            }
            
        }
        // ------------------------places--------------
        .drop-menu-byme{
            min-height: 64vh;
        }
        .carousel-container{
            min-height: 500px;
            .carousel-item {
                min-height: 400px;
                img{
                    margin: 0 5%;
                    min-height: 400px;
                    max-width: 90%;
                }
            }
        }
    }
}


